<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVWtQH7Jk4KdC8Q7MEjnBdXDd-zkF2xt8</string>
	<key>GCM_SENDER_ID</key>
	<string>350439407119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imei.imeiConnect</string>
	<key>PROJECT_ID</key>
	<string>imaeindia-android-app</string>
	<key>STORAGE_BUCKET</key>
	<string>imaeindia-android-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350439407119:ios:088bfb62f09e08dd4ded7a</string>
</dict>
</plist>